<div class="loginContainer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatarFrameOffline my-5"><img src="../../assets/img/generic_avatar.png" class="avatarImage image-fluid"></div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="text-center">
          <h3>iniciar sesión</h3>
        </div>
        <p *ngIf="operation=='register'">Tienes cuenta? <a (click)="operation = 'login'">Login</a></p>
        <p *ngIf="operation=='login'">No tienes cuenta? <a (click)="operation = 'register'">Resgistrarse</a></p>
        <div class="borderedContainer">
          <input [(ngModel)]="user.Email" class="form-control  my-2" type="email" placeholder="ingrese email">
          <input [(ngModel)]="user.Password" class="form-control  my-2" type="password" placeholder="ingrese contraseña">
          <input [(ngModel)]="user.Nick" class="form-control  my-2" type="text" placeholder="ingrese nickname" *ngIf="operation=='register'">
        </div>
        <div>
          <button class="btn btn-primary btn-block" (click)="loginWithFacebook()">Ingresar con facebook</button>
        </div>
        <div (click)="login()" class="text-center my-2" *ngIf="operation=='login'"><a class="btn btn-primary btn-block">Iniciar
            Sesión</a>
        </div>
        <div (click)="register()" class="text-center my-2" *ngIf="operation=='register'"><a class="btn btn-primary btn-block">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</div>