<div class="homeContainer">
  <div class="witeBorderGlassBox">
    <div class="homeHeadcontainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameonline">
            <img src="../../assets/img/generic_avatar.png" id="homeAvatarPicture">
          </div>
        </div>
        <div class="col">
          <b>Eduardo</b>
          <div>
            <span>Online</span>
            <br>
            <span>
              < Escribe un mensaje personal>
            </span>
            <a (click)="logout()">logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded my-5">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="buscar amigo" [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img src="../../assets/img/logo_live_add.png" class="icon" alt="">
      </div>
    </div>
    <hr>
    <div *ngIf="friends">
      <b>amigos ({{friends.length}}/{{friends.length}})</b>
      <div class="disblo mb-3" *ngFor="let user of friends | search:query; let i = index">

        <span routerLink="/conversation/{{user.Uid}}">
          <img src="../../assets/img/logo_live_online.png" class="icon" alt="">
          <b>{{user.Nick}}</b>
          <small>{{user.Email}}</small>
        </span>
      </div>
    </div>
  </div>
</div>